{% include 'header.html' %}


<!-- Page Content -->
<div class="page-content-wrapper main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 welcome">
                <h1 class="big">Martel Blackops</h1>
                <p>This is the Martel blackops access page. From here you vill be able to train your heroes and send them away on missions to defeat the bad guys.
                Some heroes you will know from before but you also have the ability to reqruit new heroes to fight alongside Martel.</p>
                <p>To fund your bussiness you will be able to place bets on the outcome of a mission. This is off course top secret and the firms success depends
                    on your ability to predict the future. Good luck!</p>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

{% include 'footer.html' %}
